<form [formGroup]='form' (ngSubmit)='Submit()' method=POST>
  <div>
    <div><input id="surname" type="text" formControlName="surname" placeholder="Фамилия" required="">
      <div *ngIf="form.get('surname').touched && form.get('surname').invalid">
        <small *ngIf="form.get('surname').errors.pattern">Не корректная Фамилия</small>
      </div>
    </div>

    <div><input id="name" type="text" formControlName="name" placeholder="Имя" required="">
      <div *ngIf="form.get('name').touched && form.get('name').invalid">
        <small *ngIf="form.get('name').errors.pattern">Не корректное Имя</small>
      </div>
    </div>

    <div> <input id="fathername" type="text" formControlName="fathername" placeholder="Отчество">
      <div *ngIf="form.get('fathername').touched && form.get('fathername').invalid">
        <small *ngIf="form.get('fathername').errors.pattern">Не корректное Отчество</small>
      </div>
    </div>

    <div><input id="login" type="text" formControlName="login" placeholder="Логин" required="">
      <div *ngIf="form.get('login').touched && form.get('login').invalid">
        <small *ngIf="form.get('login').errors.pattern">Не корректный login</small>
      </div>
    </div>

    <div><select id="city" formControlName="city">
        <option>Регион проживания</option>
        <option>Омск</option>
        <option>Москва</option>
        <option>Санкт-Питербург</option>
        <option>Другой</option>
      </select></div>

    <div> <input id="phone" type="text" formControlName="phone" placeholder="Ваш телефон" required="">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid">
        <small *ngIf="form.get('phone').errors.pattern">Не корректный номер телефона</small>
      </div>
    </div>

    <div> <input id="email" type="email" formControlName="email" placeholder="Ваш E-mail" required="">
      <div *ngIf="form.get('email').touched && form.get('email').invalid">
        <small *ngIf="form.get('email').errors.email">Не корректный email</small>
      </div>
    </div>

    <div> <input id="checkbox" type="checkbox" formControlName="checkbox" placeholder="">Согласие на обработку 
      персональных данных</div>
  </div>
  <button type="Submit" [disabled]="form.invalid || submitted">Отправить форму</button>

  <div id='showModal' name='showModal' class="hide modal">
    <h1>Успешная отправка анкеты</h1>
    <button ng-click="showModal = false" type="Submit">Заполнить новую анкету</button>
  </div>

</form>


  
