input , button , select {
    padding: 1.5rem 4rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    font-size: 0.9rem;
};

.modal{
  position: relative;
  z-index: 9999;
  margin: 0px auto;
  padding: 20px 30px;
}


.hide{
  display: none;
}

.phone__label{
  font-size: 0.9rem;
  position: absolute;
  margin-left: -250px;
  margin-top: 27px;
}
